.work3 {
    width: 25.130208333333332vw;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    box-shadow: 2px 2px 1px 0px #9f9f9f, -0.5px -0.5px 1px 2px #f6faff;
    border-radius: 34px;
    height: 219px;
  }
  
  .work3>img {
    transition: opacity 1s ease-in-out;
  }
  
  @media screen and (max-width:1254px) {
    .work3 {
      width: 96.13vw;
      height: 285px;
      margin: 35px 0;
    }
  
  }