.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 137.7vh;
}

@media screen and (max-width:1254px) {
    .intro-container {
        flex-direction: column;
    }
}