$primaryFont: 'Poppins, sans-serif';

.logo-container {
    display: inline-block;
}

#logo {
    font-family: $primaryFont;
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    margin-left: 16vw;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 32px;
    text-decoration: none;
    color: initial;
}

#logo:hover {
    color: initial;
}

@media screen and (max-width:1254px) {
    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo {
        margin-left: 0;
        font-size: 50px;
    }
}